html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
   width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}


#header {
  padding:1%;
  background-color: black;
  height:125px;
  width: 100%;
  z-index:1000;
  position: fixed;
  top:0;
}

#container {
  position:relative;
  
}



